/*Header Start*/
.header {
  display: flex;
  justify-content: center;
  background-color: black;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
}

.header a {
  color: white;
  font-size: 2.5rem;
}

.header a:hover {
  color: #cd1818;
}

.header button {
  background-color: #cd1818;
}
/*Header End*/

/*Searchbar start*/
.searchbar {
  width: 100%;
}

.searchbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar-input {
  background-color: rgb(31, 31, 31);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  height: 65px;
  max-width: 700px;
  width: 90%;
  padding-left: 25px;
  outline: none;
}

.search-icon {
  height: 65px;
  width: 100px;
  background-color: #cd1818;
  border-radius: 0px 10px 10px 0px;
  margin-left: -50px;
  padding: 20px 35px;
  cursor: pointer;
}
/*Searchbar end*/

/*Movie Info Start*/
.movie-info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  background-color: #cd1818;
  max-width: 600px;
  width: 90%;
  height: 500px;
}
/*Movie Info End*/
