/*List.jsx Start*/
.list-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*List.jsx End*/

/*ListSelector.jsx start*/
.list-selector {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.list-selector-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(31, 31, 31);
  width: 1000px;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 90%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.default-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list-button {
  font-size: 1.4rem;
  background-color: rgb(13, 13, 13);
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.list-button:hover {
  background-color: #116d6e;
}

.return-button {
  border: rgb(219, 219, 219) solid 1px;
}

.random-button {
  background-color: #ca3131;
}

.filter-button {
  background-color: #ca3131;
}

.random-button:hover,
.filter-button:hover {
  background-color: #116d6e;
}

.return-button:hover {
  transition: 500ms;
  background-color: rgb(219, 219, 219);
  color: rgb(13, 13, 13);
}

.create-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.create-container input {
  height: 40px;
  background-color: rgb(13, 13, 13);
  color: white;
  font-size: 1.4rem;
  padding-left: 10px;
}

.create-container input::placeholder {
  color: rgb(226, 226, 226);
  opacity: 0.5;
}

.select-container {
  width: 100%;
}

.select-list-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.edit-row {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rename-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.rename-row input {
  height: 40px;
  background-color: rgb(13, 13, 13);
  color: white;
  font-size: 1.4rem;
  padding-left: 10px;
}
/*ListSelector.jsx end*/

/*List Filter.jsx Start*/
.list-filter {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.list-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(31, 31, 31);
  width: 1000px;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 90%;
  border-radius: 5px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filter-top-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.filter-mid-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.filter-bot-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.list-filter-button {
  color: rgb(226, 226, 226);
  border: none;
}

.filter-textbox {
  height: 40px;
  background-color: rgb(13, 13, 13);
  color: white;
  font-size: 1.4rem;
  padding-left: 10px;
}

/*List Filter.jsx End*/

/*ListMovies.jsx Start*/
.list-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-movies-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  padding: 40px;
}
/*ListMovies.jsx End*/

/*Movie Start*/
.movie {
  height: 300px;
  width: 200px;
  margin-bottom: 50px;
}

.movie img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
/*Movie End*/

/*SelectMovieList Start*/
.select-movie-list {
  position: fixed;
  top: -5px;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(23, 23, 23);
  max-width: 900px;
  width: 100%;
  min-height: 100%;
  height: auto;
  border-radius: 10px;
  z-index: 1;
}
/*SelectMovieList End*/
