/*Searchbar start*/
.home-searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.searchbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar-input {
  background-color: rgb(31, 31, 31);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  height: 65px;
  max-width: 700px;
  width: 85%;
  padding-left: 25px;
  outline: none;
}

.search-icon {
  height: 65px;
  width: 100px;
  background-color: #ca3131;
  border-radius: 0px 10px 10px 0px;
  margin-left: -50px;
  padding: 20px 35px;
  cursor: pointer;
}

.search-icon-dropdown {
  height: 35px;
  width: 40px;
  margin-left: 20px;
}

.search-icon:hover {
  background-color: #116d6e;
}

.drop-down {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 650px;
  width: 95%;
  margin-right: 95px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(31, 31, 31);
  padding: 15px;
}

.home-search-movie {
  width: 104.5%;
}

.drop-down-row {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 60px;
  margin-left: -13px;
  padding-top: 50px;
  padding-bottom: 50px;
  cursor: pointer;
}

.drop-down-row:hover {
  background-color: #ca3131;
}

.search-movie-title {
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  .drop-down {
    margin-right: 0px;
  }
}
/*Searchbar end*/
